html {
  background-color: linen;
  font-family: 'Quicksand', 'sans-serif';
  font-size: 12px;
  line-height: 18px;
}

body {
  font-family: 'Arial', 'sans-serif';
  background-color: linen;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

h1 {
  border: 3px solid;
  background-color: lavenderblush;
  color: maroon;
  text-align: center;
  margin: 16px;
  padding: 20px;
  line-height: 40px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e2af6b;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ddecc0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #dbe9ec;
  color: #006f88;
}

h4 {
  text-align: center;
}

p {
  margin: 32px;
  /* Top Right Bottom Left (TRBL) */
}

.ss {
  margin-bottom: 24px;
  padding: 12px;
}

p.ss {
  border-style: solid;
}

footer {
  clear: both;
  text-align: center;
  padding: 12px;
}